.reservist-edit-form-page {
  position: relative;
  background-size: 110vw 280vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-blend-mode: lighten;
  overflow-x: hidden;
}


.reservist-form-container {
  max-width: 800px;
  width: 95%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff; 
  border: 1px solid #e2e8f0; 
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: none;/* Safari support */
  backdrop-filter: none;
  position: relative;
  z-index: 1;
  text-align: start;
}
 
/* Label and input styles */
.reservist-form-container label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
}

/* Input and select styles */
.reservist-form-container input[type="text"],
.reservist-form-container input[type="email"],
.reservist-form-container input[type="tel"],
.reservist-form-container input[type="password"],
.reservist-form-container input:not([type]),
.reservist-form-container select,
.reservist-form-container textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  font-size: 1rem;
}

.reservist-form-container textarea {
  resize: vertical;
}

/* Fieldset styles */
.reservist-form-container fieldset {
  border: none;
  margin-bottom: 1rem;
  padding: 0;
}

.reservist-form-container legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Error message styling */
.reservist-form-container .error-message {
  color: #dc2626;
  text-align: center;
  font-weight: bold;
}

.register-buttons-group {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.required-star {
  color: red;
  font-size: 1.2em;
  margin-inline: 4px;
}