.LPtop_Section {
  background-color: #002855;
  color: #fff;
  /* padding: 60px 20px; */
  text-align: center;
  margin: 0;
  /* border: none; */
  width: 100vw;           
  box-sizing: border-box; 
}

.LPtop_Section h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.LPtop_Section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.aboutSection {
  padding: 4rem 2rem;
  background: linear-gradient(135deg, #f0f4ff, #ffffff);
  text-align: center;
  direction: rtl;
}

.aboutSection h2 {
  font-size: 2.5rem;
  color: #1a237e;
  margin-bottom: 1rem;
}

.aboutSection p {
  font-size: 1.25rem;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  color: #333333;
}

.footer {
  background-color: #002855;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
}

@media (min-width: 769px) {
  .LPtop_Section {
    padding-inline-end: 250px;
  }

  .dashboard-main {
    margin-right: 250px;
  }
}
