/* Reset כללי */
body, h1, h2, h3, p, a, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  direction: ltr;
  line-height: 1.6;
  color: #333;
  background-color: white;
  text-align: right;
}

.text-ltr {
  direction: ltr;
  text-align: left;
}

/* Header */
.header {
  position: fixed;
  background-color: #002855;
  color: #fff;
  text-align: center;
  width: 100vw;
  z-index: 9999;
}

/* Navbar */
.navbar {
  /* position: sticky; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

/* logo */
.logo-image {
  width: 100px;
  height: auto;
}

/* icons (☰ ✖) */
.menu-icons {
  display: none;
}

.menu-icon, .close-icon {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  color: white;
}

.Button:hover {
  background-color: #003f7d;
}

/* Footer */
.footer {
  background-color: #002855;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
}

/* Tooltip */
.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-wrapper .tooltip-text {
  visibility: hidden;
  background-color: #002855;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  font-size: 0.85rem;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #ebebeb;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.3s ease-in-out;
  z-index: 2000;
  transform: translateX(0); 
}


.lang-button {
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #002855;
}

.lang-img {
  width: 22px;
  height: 22px;
}

.lang-text {
  font-size: 16px;
  color: #002855;
  font-weight: bold;
}




/* מדיה קווארי למסכים קטנים בלבד */
@media (max-width: 768px) {
  .menu-icons {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2200;
  }

  .sidebar {
    transform: translateX(100%); /* סגור ברירת מחדל במובייל */
  }

  .sidebar.open {
    transform: translateX(0); /* נפתח בלחיצה */
  }

  /* במסכים קטנים – לא צריך margin כי הסיידבר מכסה */
  .dashboard-main {
    margin-right: 0;
  }
}

/* מסכים רגילים – פינוי מקום קבוע לסיידבר */
@media (min-width: 769px) {
  .dashboard-main {
    margin-right: 250px; /* כדי לא להידרס ע"י הסיידבר */
    padding: 20px;
  }

  .menu-icons {
    display: none; /* ☰ לא מוצג במסכים רחבים */
  }

  .sidebar {
    transform: translateX(0) !important; /* תמיד פתוח */
  }
}

.divider {
  height: 30px;
}
