
.reservistDetails-modal-overlay {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  margin-right: 250px;
  padding: 20px;
  padding-bottom: 30%;
  height: 100%;
  min-width: 360px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .reservistDetails-modal-overlay {
    margin-right: 0;
  }
}