.admin-container {
  display: flex;
  background-color: white;
}

.admin-main {
  padding: 2.5rem;
  text-align: right;
  width: calc(100% - 250px);
  margin-top: 90px;
}

.logo-background {
  background-size: contain;              
  opacity: 0.1;                          
  background-blend-mode: normal;        
}

.adminHomePageTitle {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .admin-main {
    margin-right: 0;
    width: 100%;
  }
}

/* users form modal overlay */
.editForm-modal-overlay {
  position: fixed;
  top: 90px;
  right: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 90px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding: 50px 20px;
  z-index: 9999;
}

@media (max-width: 768px) {
  .editForm-modal-overlay {
    right: 0;
    width: 100%;
    z-index: 1500; 
  }
}

.editForm-modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

