/*  users summary chart */
.users-summary-container {
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
  flex-direction: row;
}

@media (max-width: 768px) {
  .users-summary-container {
    flex-direction: column-reverse;
    direction: rtl !important;
  }
}
