.reports-container {
  display: flex;
  background-color: white;
}

.reports-main {
  padding: 2.5rem;
  text-align: right;
  margin-right: 250px;
  padding: 2rem;
  width: calc(100% - 250px);
  margin-top: 70px;
  height: 100vh;
  
}
.reports-main::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-image: url('/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1; 
  width: 80%;
  height: 100%;
  margin-top: 90px;
  pointer-events: none;
  z-index: 0;
}

@media (max-width: 768px) {
  .reports-main {
    margin-right: 0;
    width: 100%;
    padding: 1rem;
  }
}

@media (min-width: 769px) {
  .reports-main {
    margin-right: 250px; 
  }
}

.reports-title{
  font-weight: bold;
  text-align: center;
  font-size: x-large;
}