.CP-change-password-page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 90px;
}

.CP-change-password-page::before {
  content: "";
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/logo-bg.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.25;
  z-index: 0;
  pointer-events: none;
}

.CP-change-password-overlay {
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 380px;
  margin-top: 0;
  margin-right: 0;
}

@media (min-width: 769px) {
  .CP-change-password-overlay {
    margin-right: 70px;
  }
}

.CP-change-password-title {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CP-change-password-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 0.5rem;
}

.CP-change-password-button {
  display: flex;
  justify-content: center;
}

.CP-change-password-button-loading{
  pointer-events: none;
  opacity: 0.6; 
  cursor: not-allowed;
  display: flex;
  justify-content: center;
}

.CP-change-password-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.CP-relative {
  position: relative;
}